<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <%= link_to "← Back",
      :root,
      class: "btn btn-dark mb-4" %>
        
      <div class="mb-4">
        <h1>Character Editor</h1>
      </div>

      <%= simple_form_for @character do |f| %>
        <%= f.input :race,
          collection: ["Human", "Elf", "Dwarf", "Orc", "Half-elf", "Draconians"],
          prompt: "Choose a race" %>

          <%= f.input :role,
          collection: ["Thief", "Warrior", "Spellcaster", "Ranger", "Cleric", "Bard"],
          prompt: "Choose a class" %>

          <%= f.input :gender,
          collection: ["Male", "Female", "Non-binary", "Other"],
          prompt: "Choose a gender" %>

          <%= f.input :personality,
          collection: ["Cold, cunning & independant", "Brave & loyal", "Mysterious", "Chaotic", "Wise"],
          prompt: "Choose a personality" %>

          <%= f.input :name,
          placeholder: "Character name" %>

          <%= f.input :history,
          as: :text,
          input_html: { rows: 4 },
          placeholder: "Describe your character" %>

        <%= f.submit "Update character", class: "btn btn-dark mb-3" %>
      <% end %>
    </div>
