<div class="container mt-5">
  <%= link_to "← Back",
      characters_path,
      class: "btn btn-dark" %>

  <div class="card shadow-sm mt-3 p-4">
    <h1><%= @character.name %></h1>

    <p>
      <strong>Race:</strong>
      <%= @character.race %>
    </p>

    <p>
      <strong>Role:</strong>
      <%= @character.role %>
    </p>

    <p>
      <strong>Gender:</strong>
      <%= @character.gender %>
    </p>

    <hr>

    <p>
      <strong>History:</strong>
      <%= @character.history %>
    </p>

    <hr>

    <p>
      <strong>Personality:</strong>
      <%= @character.personality %>
    </p>

    <hr>

    <%= link_to "Start Chat",
        "#",
        class: "btn btn-dark mt-3" %>
  </div>
</div>
